html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-color: blueviolet;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.sphere {
  width: 600px;
  height: 600px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: rotate 15s infinite linear;
          animation: rotate 15s infinite linear;
}

.sphere__div {
  position: absolute;
  width: 600px;
  height: 600px;
  border: solid 0.5px rgba(56, 248, 255, 0.363);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3px rgba(56, 248, 255, 0.363);
          box-shadow: 0 0 3px rgba(56, 248, 255, 0.363);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.sphere__div:nth-child(1) {
  -webkit-transform: rotateX(18deg);
          transform: rotateX(18deg);
}

.sphere__div:nth-child(2) {
  -webkit-transform: rotateY(36deg);
          transform: rotateY(36deg);
}

.sphere__div:nth-child(3) {
  -webkit-transform: rotateX(54deg);
          transform: rotateX(54deg);
}

.sphere__div:nth-child(4) {
  -webkit-transform: rotateY(72deg);
          transform: rotateY(72deg);
}

.sphere__div:nth-child(5) {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.sphere__div:nth-child(6) {
  -webkit-transform: rotateY(108deg);
          transform: rotateY(108deg);
}

.sphere__div:nth-child(7) {
  -webkit-transform: rotateX(126deg);
          transform: rotateX(126deg);
}

.sphere__div:nth-child(8) {
  -webkit-transform: rotateY(144deg);
          transform: rotateY(144deg);
}

.sphere__div:nth-child(9) {
  -webkit-transform: rotateX(162deg);
          transform: rotateX(162deg);
}

.sphere__div:nth-child(10) {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.sphere__div:nth-child(11) {
  -webkit-transform: rotateX(198deg);
          transform: rotateX(198deg);
}

.sphere__div:nth-child(12) {
  -webkit-transform: rotateY(216deg);
          transform: rotateY(216deg);
}

.sphere__div:nth-child(13) {
  -webkit-transform: rotateX(234deg);
          transform: rotateX(234deg);
}

.sphere__div:nth-child(14) {
  -webkit-transform: rotateY(252deg);
          transform: rotateY(252deg);
}

.sphere__div:nth-child(15) {
  -webkit-transform: rotateX(270deg);
          transform: rotateX(270deg);
}

.sphere__div:nth-child(16) {
  -webkit-transform: rotateY(288deg);
          transform: rotateY(288deg);
}

.sphere__div:nth-child(17) {
  -webkit-transform: rotateX(306deg);
          transform: rotateX(306deg);
}

.sphere__div:nth-child(18) {
  -webkit-transform: rotateY(324deg);
          transform: rotateY(324deg);
}

.sphere__div:nth-child(19) {
  -webkit-transform: rotateX(342deg);
          transform: rotateX(342deg);
}

.sphere__div:nth-child(20) {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(50deg) rotateZ(50deg);
            transform: rotateY(50deg) rotateZ(50deg);
  }
  50% {
    -webkit-transform: rotateY(360deg) rotateZ(360deg);
            transform: rotateY(360deg) rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateY(50deg) rotateZ(50deg);
            transform: rotateY(50deg) rotateZ(50deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(50deg) rotateZ(50deg);
            transform: rotateY(50deg) rotateZ(50deg);
  }
  50% {
    -webkit-transform: rotateY(360deg) rotateZ(360deg);
            transform: rotateY(360deg) rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateY(50deg) rotateZ(50deg);
            transform: rotateY(50deg) rotateZ(50deg);
  }
}
/*# sourceMappingURL=style.css.map */